# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/raw/
data/processed/

# Database files
*.db
*.sqlite3

# Models
models/

# System files
.DS_Store
Thumbs.db